<section class="songs-list ideal">
    
    <div class="ui-status empty">
        No hay ninguna canción
    </div>
    
    <div class="ui-status error">
        Se ha producido un error al cargar la canción
    </div>
    
    <div class="ui-status loading">
        Cargando...
    </div>
    
    <div class="ui-status ideal">
        <article class="song">
            <a href="detail.html">
                <img class="cover" src="img/ensaladas.jpg" alt="">
            </a>
            <div class="artist">Ensaladas</div>
            <div class="title">Ensalda</div>
        </article>
        
        <article class="song">
            <img class="cover" src="img/plato.jpg" alt="">
            <div class="artist">Plato no disponible</div>
            <div class="title">Estas recetas no está terminadas todavia</div>
        </article>
        
        <article class="song">
            <img class="cover" src="img/plato.jpg" alt="">
            <div class="artist">Plato no disponible</div>
            <div class="title">Estas recetas no está terminadas todavia</div>
        </article>
        
        <article class="song">
            <img class="cover" src="img/plato.jpg" alt="">
            <div class="artist">Plato no disponible</div>
            <div class="title">Estas recetas no está terminadas todavia</div>
        </article>
        
        <article class="song">
            <img class="cover" src="img/plato.jpg" alt="">
            <div class="artist">Plato no disponible</div>
            <div class="title">Estas recetas no está terminadas todavia</div>
        </article>
        
        <article class="song">
            <img class="cover" src="img/plato.jpg" alt="">
            <div class="artist">Plato no disponible</div>
            <div class="title">Estas recetas no está terminadas todavia</div>
        </article>
        
        <article class="song">
            <img class="cover" src="img/plato.jpg" alt="">
            <div class="artist">Plato no disponible</div>
            <div class="title">Estas recetas no está terminadas todavia</div>
        </article>
        
        <article class="song">
            <img class="cover" src="img/plato.jpg" alt="">
            <div class="artist">Plato no disponible</div>
            <div class="title">Estas recetas no está terminadas todavia</div>
        </article>
        
        <article class="song">
            <img class="cover" src="img/plato.jpg" alt="">
            <div class="artist">Plato no disponible</div>
            <div class="title">Estas recetas no está terminadas todavia</div>
        </article>
        
        <article class="song">
            <img class="cover" src="img/plato.jpg" alt="">
            <div class="artist">Plato no disponible</div>
            <div class="title">Estas recetas no está terminadas todavia</div>
        </article>
        
    </div>
    
</section>