
<form novalidate  class="song-form ">
    <div class="ui-status error">
        Se ha producido un error
    </div>

    <div class="ui-status loading">
        Guardando canción...
    </div>

    <div class="ui-status ideal">
        
       <div class="form-control-group">
           <label for="receta">QUE TE QUIERES COMER HOY?</label>
           <input type="text" id="receta" name="receta" placeholder="recetas" required>
       </div>
        
        <div class="form-control-group">
            <button>Buscar</button>
        </div>
    </div>

</form>